<!-- Text -->
<?php if ($this->previewMode): ?>
    <span class="form-control"><?= $field->value ? e($field->value) : '&nbsp;' ?></span>
<?php else: ?>
    <div
            id="<?= $this->getId() ?>"
            data-control="multilingual"
            data-default-locale="<?= $defaultLocale->code ?>"
            data-placeholder-field="#<?= $field->getId('tokenField') ?>"
            class="field-multilingual field-multilingual-text dropdown">
        <?= $token ?>

        <button
                class="btn btn-default ml-btn"
                data-toggle="dropdown"
                data-active-locale
                type="button">
        </button>

        <?= $this->makeParentPartial('locale_values') ?>

        <?= $this->makeParentPartial('locale_selector') ?>

    </div>
<?php endif ?>
